/* PHASE 3: Content */

.content {
  background-color: #fff;
  margin: auto;
  width: 900px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.content-sidebar {
  width: 200px;
  float: left;
  padding: 20px;
}

.content-main {
  width: 620px;
  float: left;
  padding: 20px;
}

.content h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.content p {
  font-size: 16px;
  font-weight: 400;
}